<section data-ng-controller="HomeController">
  <!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->
  <div id="headerwrap">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>The <b style="color: #384452;">one place</b> for all your needs.</h3>
          <h1>The Store</h1>
          <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
          <h5>Some more Lorem Ipsum added here too.</h5>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <br />
          <a href="/products" class="btn btn-theme">View Current Products</a>
        </div>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /headerwrap -->
<!-- *****************************************************************************************************************
   BODY
   ***************************************************************************************************************** -->
  <div>
    <div class="container">
      <div>
        <h3>Stuff</h3>
      </div>
      
    </div>
  </div>


  <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="col-lg-4">
          <h4>Social</h4>
          <div class="hline-w"></div>
          <p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Location</h4>
          <div class="hline-w"></div>
          <p>
            Giggity Dr,<br/>
            23890, Giggity,<br/>
            United States.<br/>
          </p>
        </div>
      
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/footerwrap -->
</section>
