<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>

  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.product.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.productForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
         <label class="control-label" for="materials">Materials</label>
          <input name="materials" type="text" ng-model="vm.product.materials" id="materials" class="form-control" placeholder="Materials" required>
          <div ng-messages="vm.form.productForm.materials.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product materials is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="price">Price</label>
          <input name="price" type="text" ng-model="vm.product.price" id="price" class="form-control" placeholder="Price" required>
          <div ng-messages="vm.form.productForm.price$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product Price is required.</p>
         </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="comments">Comments</label>
          <textarea name="comments" type="text" rows="8" ng-model="vm.product.comments" id="comments" class="form-control" placeholder="Comments" required></textarea>
          <div ng-messages="vm.form.productForm.comments.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product comment is required.</p>
          </div>
        </div>

        <!-- HEX CODE INPUT -->
        <div class="form-group">
          <input type="text" minlength="7" maxlength="7" pattern="[#A-Fa-f0-9]{7}" class="" placeholder="Enter Hex value" ng-model="vm.product.color">
          <div ng-messages="vm.form.productForm.color.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Proper hex code is required.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
