<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group" show-errors>
              <label class="control-label" for="title">Title</label>
              <input name="title" type="text" ng-model="vm.product.title" id="title" class="form-control" placeholder="Title" required>
              <div ng-messages="vm.form.productForm.title.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Product title is required.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="row" align="left">
            <div class="col-xs-6 col-md-6">
              <div class="form-group" show-errors>
               <label class="control-label" for="material">Materials</label>
                <input name="material" type="text" ng-model="vm.product.material" id="material" class="form-control" placeholder="Materials" required>
                <div ng-messages="vm.form.productForm.material.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Product material is required.</p>
                </div>
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="price">Price</label>
                <input name="price" type="text" ng-model="vm.product.price" id="price" class="form-control" placeholder="Price" required>
                <div ng-messages="vm.form.productForm.price$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Product Price is required.</p>
               </div>
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="comments">Comments</label>
                <textarea name="comments" type="text" rows="8" ng-model="vm.product.comments" id="comments" class="form-control" placeholder="Comments" required></textarea>
                <div ng-messages="vm.form.productForm.comments.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Product comments is required.</p>
                </div>
              </div>
              <div class="form-group">
              <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </div>
            <div align="center">
            <div class="col-xs-6 col-md-6">
                <h3>Material List</h3>
                <div class="card">
                  <ul style="list-style: none; ">
                    <li ng-repeat="item in vm.completeList track by $index">
                      <div class=" pull-left">
                        <label><input type="checkbox" class="checkbox3" ng-click="functionItemChecked()"> {{list.content}}</label>
                      </div>
                      
                       {{item}}
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          
          
            </div>         
        </div>
      </fieldset>
    </form>
  </div>  
 
    </div>
</section>
