<section>
  <div class="page-header">

     <h2 ng-bind="vm.product.title"></h2>

  </div>
  <div class="pull-right"
       ng-show="vm.product.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.product.user"
            ng-bind="vm.product.user.displayName"></span>
      <span ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small>
  <br />
  <div>
    <h6>Materials:</h6>
    <p class="lead" ng-bind="vm.product.materials"></p>
  </div>
  <div>
    <h6>Price:</h6>
    <p class="lead" ng-bind="vm.product.price"></p>
  </div>
  <div>
    <h6>Comments:</h6>
    <p class="lead" ng-bind="vm.product.comments"></p>
  </div>


</section>
